
@font-face {
  font-family: 'Panton-ThinItalic';
  src: url('Panton-ThinItalic.eot?#iefix') format('embedded-opentype'),  url('Panton-ThinItalic.otf')  format('opentype'),
	     url('Panton-ThinItalic.woff') format('woff'), url('Panton-ThinItalic.ttf')  format('truetype'), url('Panton-ThinItalic.svg#Panton-ThinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
