$icomoon-font-family: "pack-ocelot-icons" !default;
$icomoon-font-path: "font" !default;

$poci-oci-categoria-audifono: "\e900";
$poci-oci-categoria-enfriamiento: "\e901";
$poci-oci-categoria-fuentes: "\e902";
$poci-oci-categoria-gabinetes: "\e903";
$poci-oci-categoria-monitores: "\e904";
$poci-oci-categoria-mouse: "\e905";
$poci-oci-categoria-silla: "\e906";
$poci-oci-categoria-software: "\e907";
$poci-oci-categoria-streaming: "\e908";
$poci-oci-categoria-teclado: "\e909";
$poci-oci-editor-align-center: "\e90a";
$poci-oci-editor-align-justify: "\e90b";
$poci-oci-editor-align-left: "\e90c";
$poci-oci-editor-align-right: "\e90d";
$poci-oci-editor-background-color: "\e90e";
$poci-oci-editor-block-quote: "\e90f";
$poci-oci-editor-bold: "\e910";
$poci-oci-editor-bullet-list: "\e911";
$poci-oci-editor-caracteres-especiales: "\e912";
$poci-oci-editor-clear-formatting: "\e913";
$poci-oci-editor-code: "\e914";
$poci-oci-editor-copy: "\e915";
$poci-oci-editor-cut: "\e916";
$poci-oci-editor-decrease-indent: "\e917";
$poci-oci-editor-fontfamily: "\e918";
$poci-oci-editor-fontsize: "\e919";
$poci-oci-editor-horizontal-line: "\e91a";
$poci-oci-editor-image: "\e91b";
$poci-oci-editor-imprimir: "\e91c";
$poci-oci-editor-increase-indent: "\e91d";
$poci-oci-editor-italic: "\e91e";
$poci-oci-editor-link: "\e91f";
$poci-oci-editor-numered-list: "\e920";
$poci-oci-editor-paragraph-format: "\e921";
$poci-oci-editor-paste: "\e922";
$poci-oci-editor-redo: "\e923";
$poci-oci-editor-seleccionar-todo: "\e924";
$poci-oci-editor-strikethrough: "\e925";
$poci-oci-editor-subscript: "\e926";
$poci-oci-editor-superscript: "\e927";
$poci-oci-editor-tabla: "\e928";
$poci-oci-editor-text-color: "\e929";
$poci-oci-editor-togglescreen: "\e92a";
$poci-oci-editor-underline: "\e92b";
$poci-oci-editor-undo: "\e92c";
$poci-oci-input-image-upload: "\e92d";
$poci-oci-preview-image-upload: "\e92e";
$poci-oci-chevron-down-fill: "\e937";
$poci-oci-chevron-left-fill: "\e938";
$poci-oci-chevron-right-fill: "\e939";
$poci-oci-chevron-up-fill: "\e93a";
$poci-oci-icon-check-circle-fill: "\e93b";
$poci-oci-icon-check-fill: "\e93c";
$poci-oci-icon-chevron-down-fill: "\e93d";
$poci-oci-icon-chevron-left-fill: "\e93e";
$poci-oci-icon-chevron-right-fill: "\e93f";
$poci-oci-icon-chevron-up-fill: "\e940";
$poci-oci-icon-edit-fill: "\e941";
$poci-oci-icon-fantom-fill: "\e942";
$poci-oci-icon-flag-fill: "\e943";
$poci-oci-icon-hand-down-fill: "\e944";
$poci-oci-icon-hand-up-fill: "\e945";
$poci-oci-icon-image-fill: "\e946";
$poci-oci-icon-link-fill: "\e947";
$poci-oci-icon-lupe-fill: "\e948";
$poci-oci-icon-mail-fill: "\e949";
$poci-oci-icon-map-marker-fill: "\e94a";
$poci-oci-icon-ocelot-fill: "\e94b";
$poci-oci-icon-ocelot-small-fill: "\e94c";
$poci-oci-icon-phone-fill: "\e94d";
$poci-oci-icon-post-fill: "\e94e";
$poci-oci-icon-puzzle-fill: "\e94f";
$poci-oci-icon-question-circle-fill: "\e950";
$poci-oci-icon-times-circle-fill: "\e951";

