/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  a {
    text-decoration: none;
  }
  
/* Estilos para el header y la navegación */

header {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    }
    
    nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }
    
    nav li {
    display: inline-block;
    margin-left: 1rem;
    }
    
    nav a {
    color: #333333;
    display: block;
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    }
    
    nav a:hover {
    color: #CDB7B5;
    }
    
    nav a.active {
    color: #CDB7B5;
    }
    
    /* Estilos para la sección Sobre mí */
    
    .sobre-mi-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    }
    
    .sobre-mi-titulo {
    font-size: 2rem;
    text-align: center;
    width: 100%;
    }
    
    .sobre-mi-foto-contenedor {
    border: 10px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    overflow: hidden;
    width: 300px;
    }
    
    .sobre-mi-foto {
    display: block;
    height: auto;
    width: 100%;
    }
    
    .sobre-mi-descripcion {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: justify;
    width: 100%;
    }
    
    .sobre-mi-habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
    /* Estilos para la sección Portafolio */
    
    .portafolio-contenedor {
    margin-top: 3rem;
    }
    
    .portafolio-titulo {
    font-size: 2rem;
    text-align: center;
    }
    
    .portafolio-proyectos-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
    
    .portafolio-proyecto {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width: 300px;
    }
    
    .portafolio-proyecto-imagen {
    height: auto;
    width: 100%;
    }
    
    .portafolio-proyecto-titulo {
    font-size: 1.5rem;
    margin-top: 1rem;
    }
    
    .portafolio-proyecto-descripcion {
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: justify;
    }
    
    .portafolio-proyecto-enlace {
    background-color: #CDB7B5;
    color: #FFFFFF;
    display: block;
    margin-top: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    }
    
    .portafolio-proyecto-enlace:hover {
    background-color: #333333;
    color: #FFFFFF;
    }