
@font-face {
  font-family: 'Panton-ExtraLightItalic';
  src: url('Panton-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),  url('Panton-ExtraLightItalic.otf')  format('opentype'),
	     url('Panton-ExtraLightItalic.woff') format('woff'), url('Panton-ExtraLightItalic.ttf')  format('truetype'), url('Panton-ExtraLightItalic.svg#Panton-ExtraLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
